/*
        INDEX ELEMENTS
*/

.header {
    height: 100px;
    width: 100%;
    background-color: rgb(114, 204, 211);
}
.img{
    width: 100%;
}
.main {
    float: left;
    height: 500px;
    width: 65%;
    background-color: rgb(121, 121, 121);
    position: relative;
    padding: 0 10%;
}

.aside {
    float: right;
    height: 500px;
    width: 30%;
    background-color: rgb(255, 164, 184);
}

.footer {
    clear: both;
    height: 100px;
    width: 100%;
    background-color: rgb(33, 65, 124); 
}
.form {
    padding: 20px;
    border: 1px gray solid;
    background-color: lightgray;
    border-radius: 4px;
    width: 100%;
}

.wrap {
    padding: 32px 32px 0;
}

body .form input {
    background-color: purple;
}

body .form2 input{
    background-color: green;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"] {
    width: 100%;  
    height: 40px;
    border: 1px black solid;
    opacity: 0.5;
    padding: 5px;
    margin-bottom: 12px;
    background-color: yellow;
}

.radio-group,
.checkbox-group {
    margin-bottom: 16px;
}

select {
    width: 100%;
    margin-bottom: 16px;
}

textarea {
    resize: none;
    width: 100%;
    background-color: red;
}

textarea {
    resize: none;
    width: 100%;
    background-color: blue;
}

form {
    margin-bottom: 50px;
}

/*
     MEDIA QUERIES
*/
@media only screen and (max-width: 767px) {
    .header {
        position: fixed;
        z-index:  1;
    }
    
    .main {
        display: block;
        width: 100%;
        margin-top: 100px;
    }

    .aside {
        display: block;
        width: 100%;
    }
}


.separador::before {
    content: "";
    display: block;
    background-color: blue;
    height: 2px;
    margin-bottom: 25px;
}