@import "includes/base";
@import "includes/variables";

/*
* PAGE ELEMENTS
*/

body {
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.wrap {
  max-width: 1024px;
  margin: 40px width-column(1,26);

  .button{
    width: width-column(6,24);
    height: 20px;
    border: none;
    margin: 30px width-column(9,24);
    z-index: 20;
    background: #ffffff;
    opacity: 0.7;
    transition: opacity 0.7s;
  
    &:hover {
      opacity: 1;
    }
  }
}
.flex-parent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .card {
    width: width-column(10,24);
    margin: 0 width-column(1,24);
    perspective: 1000px;
    transition: transform 0.5s ease-out;

      .holder {
        width: 100%;
        box-shadow: 1px 1px 20px #000;
      }

      .frame {
        transform: translateY(-100%);
        width: 0.3%;
      }

      &:first-child {
        margin: 0 width-column(7,24) 10%;
        display: inline;
      }
      
      /*&:hover {
        transform: scale(1.1);
      }*/

      .flip {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 1s;
        transform-style: preserve-3d;
        box-shadow: 1px 1px 20px #000;
        

        .image {
          width: 100%;
          height: 100%;
        }

        &__front, &__back {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
        }

        &__back {
          transform: rotateY(180deg);
          background-size: cover;

          &--fool{
            background-image: url(../img/thefool.png);
          }

          &--mage{
            background-image: url(../img/themagician.png);
          }

          &--world{
            background-image: url(../img/theworld.png);
          }
        }
      }
  }

  .turn {
    transform: rotateY(180deg);
  }
}

/*
* GENERAL CLASSES & ANIMATION
*/

.hide{
  display: none;
}

.shuffle {
  width: 100%;

  &--1 {
    width: 100%;
  }

  &--2 {
    width: 100%;
  }

  &--3 {
    width: 100%;
  }
}