@import "includes/base";
@import "includes/variables";

.wrap{
  max-width: 1024px;
  margin: 0 auto;
}
.flex-parent{
  width: 100%;
  display: flex;
  justify-content: space-around;

  .card{
    width: 25%;
    padding: 15px;

      .image{

      }

      .title{

      }

      .subTitle{

      }

      .text{

      }

      .button{

      }
  }
}