.header
    img#openMenu(src="img/opnbtn.png", alt="Open Button")
    .nav
        h1.logo
            a(href="#")
                img.logo__img(src="", alt="Huge Logo")
        ul.menu
            li.menu__item
                a(href="#") Work
            li.menu__item.menu__item--dropdown About
                .dropdown
                    a.dropdown__item(href="#") Opción 1
                    a.dropdown__item(href="#") Opción 2
                    a.dropdown__item(href="#") Opción 3
                    a.dropdown__item(href="#") Opción 4
                    a.dropdown__item(href="#") Opción 5
            li.menu__item.menu__item--dropdown Careers
                .dropdown
                    a.dropdown__item(href="#") Opción 1
                    a.dropdown__item(href="#") Opción 2
                    a.dropdown__item(href="#") Opción 3
                    a.dropdown__item(href="#") Opción 4
                    a.dropdown__item(href="#") Opción 5
            li.menu__item.menu__item--dropdown Ideas
                .dropdown
                    a.dropdown__item(href="#") Opción 1
                    a.dropdown__item(href="#") Opción 2
                    a.dropdown__item(href="#") Opción 3
                    a.dropdown__item(href="#") Opción 4
                    a.dropdown__item(href="#") Opción 5
            li.menu__item
                a(href="#") News
            li.menu__item
                a(href="#") Events
            li.menu__item.menu__item--dropdown Contact
                .dropdown
                    a.dropdown__item(href="#") Opción 1
                    a.dropdown__item(href="#") Opción 2
                    a.dropdown__item(href="#") Opción 3
                    a.dropdown__item(href="#") Opción 4
                    a.dropdown__item(href="#") Opción 5
            p.menu_legal Copyright Huge. All Rights Reserved.
    img#closeMenu(src="img/clsbtn.png", alt="Close Button")