.home
    .wrap
        .flex-parent
            .card
                h3.card__title Titulo
                input.card__input(type="text")
                p.card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus eligendi nostrum incidunt tempore earum quam vel consequuntur. Voluptatibus, reiciendis reprehenderit.
            .card
                h3.card__title.card__title--red Titulo
                input.card__input(type="text")
                p.card__text Lorem ipsum dolor sit amet.
            .card
                h3.card__title Titulo
                input.card__input(type="text")
                p.card__text Lorem ipsum dolor sit amet.
