.home
    .wrap
        .flex-parent
            .card
                h3.card__title Diego 1
                input.card__input(type="text")
                p.card__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus eligendi nostrum incidunt tempore earum quam vel consequuntur. Voluptatibus, reiciendis reprehenderit.
                button.card__button#button1 ADD
                button.card__button2 REMOVE
            .card
                h3.card__title.card__title--red Andre 2
                input.card__input(type="text")
                p.card__text Lorem ipsum dolor sit amet.
                button.card__button#button2 ADD
                button.card__button2 REMOVE
            .card
                h3.card__title Kuku 3
                input.card__input(type="text")
                p.card__text Lorem ipsum dolor sit amet.
                button.card__button#button3 ADD
                button.card__button2 REMOVE
