.home
    .content
        .wrap
            .flex-parent
                .card.card1
                    .card__top
                        img.card__img(src="../img/rei.png", alt="")
                    .card__bottom
                        h3.card__title.card__title--ptitle Rei
                        h4.card__title.card__title--ptitle2 Eva 00               
                        p.card__text Lorem ipsum dolor sit amet.
                        a.card__link Token
                .card.card2                
                    .card__top
                        img.card__img(src="../img/shinji.png", alt="")
                    .card__bottom
                        h3.card__title.card__title--ptitle Shinji
                        h4.card__title.card__title--ptitle2 Eva 01            
                        p.card__text Lorem ipsum dolor sit amet.
                        a.card__link Token
                .card
                    .card__top
                        img.card__img(src="../img/asuka.jpg", alt="")
                    .card__bottom
                        h3.card__title.card__title--ptitle Asuka
                        h4.card__title.card__title--ptitle2 Eva 02               
                        p.card__text Lorem ipsum dolor sit amet.
                        a.card__link Token
                .card
                    .card__top
                        img.card__img(src="../img/kaworu.png", alt="")
                    .card__bottom
                        h3.card__title.card__title--ptitle Kaworu
                        h4.card__title.card__title--ptitle2 Eva 03               
                        p.card__text Lorem ipsum dolor sit amet.
                        a.card__link Token