.home  
    .wrap
        .flex-parent
            .card
                .flip-container
                    .flip__front
                        img.image.image--front(src="img/cardback.png", alt="Card Back")
                    .flip__back
                        img.image.image--back(src="img/thefool.png", alt="The Fool")
            .card
                .flip-container
                    .flip__front
                        img.image.image--front(src="img/cardback.png", alt="Card Back")
                    .flip__back
                        img.image.image--back(src="img/themagician.png", alt="The Magician")
            .card
                .flip-container
                    .flip__front
                        img.image.image--front(src="img/cardback.png", alt="Card Back")
                    .flip__back
                        img.image.image--back(src="img/theworld.png", alt="The World")
        

