.home
    .wrap
        .flex-parent
            .flip-card
                .flip-card-inner
                    .flip-card-front
                        img(src='../img/mcm_cover.jpg')
                    .flip-card-back
                        h1 The Demon King EP
                        h3 Magna Carta Cartel
                        p Magna Carta Cartel es un grupo de música sueco de género rock alternativo/progresivo que se formó en 2006 en Linköping, Suecia.
                        ul

            .flip-card
                .flip-card-inner
                    .flip-card-front
                        img(src='../img/ghostm_cover.jpg')
                    .flip-card-back
                        h1 Hexada
                        h3 Ghostemane
                        p Eric Whitney (Lake Worth, Florida, Estados Unidos; 15 de abril de 1991), conocido profesionalmente como Ghostemane es un artista estadounidense de rap underground. 
                        ul

            .flip-card
                .flip-card-inner
                    .flip-card-front
                        img(src='../img/doom.webp')
                    .flip-card-back
                        h1 MM FOOD?
                        h3 MF DOOM
                        p Daniel Dumile (Londres, Inglaterra, 9 de enero de 1971)1​ es un MC y productor estadounidense de hip hop nacido en el Reino Unido que ha tomado varios alias durante su carrera, de los cuales MF DOOM es el más notable.
                        ul

            





