.home
    .content
        .wrap
            .form
                label(for="nombre") Nombre
                input(type="text" id="nombre") 
                button(class="aceptar") Aceptar
                br
                br
                span Texto
            .form
                label(for="nombre") Nombre
                input(type="text" id="nombre") 
                button(class="aceptar") Aceptar
                br
                br
                span Texto