.home  
    .wrap
        .flex-parent
            .card
                .placeHolder
                    img.holder(src="img/cardback.png", alt="Card Back")
                .flip.hide
                    .flip__front
                        img.image.image--front(src="img/cardback.png", alt="Card Back")
                    .flip__back.flip__back--fool
                        
                img.frame(src="img/emptycard.png", alt="None").hide
            .card.hide
                .flip
                    .flip__front
                        img.image.image--front(src="img/cardback.png", alt="Card Back")
                    .flip__back.flip__back--mage
                        
                img.frame(src="img/emptycard.png", alt="None")
            .card.hide
                .flip
                    .flip__front
                        img.image.image--front(src="img/cardback.png", alt="Card Back")
                    .flip__back.flip__back--world
                        
                img.frame(src="img/emptycard.png", alt="None")
        button.button Shuffle
        

