.home  
    .wrap
        .flex-parent
            .card
                img.image(src="", alt="")
                h4.title
                p.subTitle
                p.text
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, sint optio minima totam consequatur magni?
                a.button(href="")
            .card
                img.image(src="", alt="")
                h4.title
                p.subTitle
                p.text
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, sint optio minima totam consequatur magni?
                a.button(href="")
            .card
                img.image(src="", alt="")
                h4.title
                p.subTitle
                p.text
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, sint optio minima totam consequatur magni?
                a.button(href="")
        

