.home  
    .wrap
        .flex-parent
            .card
                .flip
                    .flip__front
                        img.image.image--front(src="img/cardback.png", alt="Card Back")
                    .flip__back
                        img.image.image--back(src="img/thefool.png", alt="The Fool")
                img.frame(src="img/emptycard.png", alt="None")
            .card
                .flip
                    .flip__front
                        img.image.image--front(src="img/cardback.png", alt="Card Back")
                    .flip__back
                        img.image.image--back(src="img/themagician.png", alt="The Magician")
                img.frame(src="img/emptycard.png", alt="None")
            .card
                .flip
                    .flip__front
                        img.image.image--front(src="img/cardback.png", alt="Card Back")
                    .flip__back
                        img.image.image--back(src="img/theworld.png", alt="The World")
                img.frame(src="img/emptycard.png", alt="None")
        

